header {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    font-family: 'Press Start 2P';
    color: #C4CFA2;
    margin: 0.5em;
    font-size: 1.8em;
}

.image-container{
    max-width: 100%;
    height: auto;
}

.image-container img{
   width: 2em;
   height: fit-content;
   filter: opacity(.5) drop-shadow(0 0 0 #545B41);  

}