button {
  height: 60%;
  width: 30%;
  margin: 1em;
  border-radius: 20px;
  color: #555C3C;
  background-color: #8B966E;
  border: none;
}

.floatPanel
{
  position: absolute;
  top: 80px;
  width: 450px;
  height: 250px;
  background-color: #414141;
  border-radius: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.hiddenDiv {
  display:none
}

span {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P';
  color: #C4CFA2;
  font-size: 20px;
}