
.endPanel {
  position: absolute;
  margin: .5em;
  padding: 4.5em;
  width: 480px;
  height: 215px;
  background-color: #414141;
  border-radius: 5px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  animation:fadeIn 1s;   
}

.endPanel svg {
  position: absolute;
  bottom: 5px;
  background-color: var(--color1);
  border-radius: 5px;
  color: var(--color4);
  border: 5px solid var(--color3);
}

.title {
  border-bottom: 1px solid;
  width: 90%;
  text-align: center;
  padding-bottom: .2em;
  margin: .5em;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.hiddenDiv {
  display:none
}

.panel-content {
  justify-content: space-between;
  width: 90%;
  display: flex;
}

.panel-content-l {
  width: 50%;
}

.panel-content-r {
  width: 70%;
}

li {
  display: flex;
  justify-content: space-between;
}

li > span:last-child {
  padding: 0.2em .2em;
  /* color:; */
  text-align: right;
}

span {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P';
  color: #C4CFA2;
  font-size: 12px;
}

.btnEnd {
  position: relative;
  width: 20px;
  height: 20px;
  bottom:  0px;
}

@media only screen and (max-width: 600px) {

  .endPanel {
    width: 85%;
  }

  span {
    font-size: 9px;
  }
}