.board1 {
  display: flex;
  width: 100%;
  border: 2px solid #555C3C;
  flex-direction: column;
  background-color: #c4cfa2;
  justify-content: center;
  align-items: center;
}

.board2 {
  border: 8px solid #8B966E;
  border-radius: 2px;
}

.board3 {
  border: 8px solid #B0BB92;
  border-radius: 5px;
}

.board4 {
  border: 8px solid #545B41;
  border-radius: 5px;
}

.row {
  display: flex;
}

.empty {
  width: 1.3vw;
  height: 1.3vw;
  font-size: 6px;
}

.filled {
  background-color: red;
  width: 40px;
  height: 0px;
}


@media only screen and (max-width: 600px) {
  
  .empty {
    width: 1.7vw;
    height: 1.7vw;
  }

}
