.board1 {
  display: flex;
  width: 100%;
  border: 2px solid #555C3C;
  flex-direction: column;
  background-color: #c4cfa2;
  justify-content: center;
  align-items: center;
}

.board2 {

}
  

.board3 {
 
}

.board4 {
  
}

.row {
  display: flex;
}

.empty, .red, .green, .bgColor {
  width: 1.3vw;
  height: 1.3vw;
  font-size: 6px;
}

.filled {
  background-color: #555C3C;
  width: 40px;
  height: 0px;
}

.red {
  background-color: #555C3C;
  animation: bend 1s infinite
}

.green {
  background-color: green;
  animation: shake 3s infinite;
}

@keyframes shake {
  33% {transform: rotate(23deg);}
  66% {transform: rotate(-20deg);}
}

@keyframes bend {
  50% {border-radius: 5px;}
}

@media only screen and (max-width: 600px) {
  .empty {
    width: 1.7vw;
    height: 1.7vw;
  }

}
