@import 'reset.css';

body{
  background-color: #414141;
}

.App {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.placar {
  padding: .5em 0;
  display: flex;
  /* justify-content: space-between; */
}
