@import 'reset.css';

* {
  --color1: #C4CFA2;
  --color2: #8B966E;
  --color3: #B0BB92;
  --color4: #545B41;
}

body {
  background-color: #414141;
  overflow: hidden;
}

.App {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.placar {
  padding: .5em 0;
  display: flex;
 justify-content: space-between;
}

.snake {
  background-color: white;
  padding: 1em;
}