.footer {
  position:fixed;
  background-color: var(--color4);
  bottom: 0px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  align-content: center;
}

.footer svg {
  color: var(--color1);
}

a {
  display:flex;
  align-items: center;
  text-decoration: none;
}

.footer span:hover {
  color: var(--color3);
}

.footer span {
  font-size: 8px;
}
